body{
    background-color:LightBlue;
  }
  #input-section{
    display:flex;
    flex-direction:column;
    margin:20px auto 20px auto;
    width:400px;
    box-shadow:0px 0px 7px 0 black;
  }
  #input-label{
    font-size:17px;
    padding:2px;
    margin:0 0 -19px 0;
    border:0.05rem solid black;
    background-color:rgb(140, 170, 230);
    box-shadow:100px black;
  }
  textarea{
    padding:2px;
    height:200px;
    margin:0;
    background-color:rgb(220, 243, 251);
  }
  #preview-section{
    display:flex;
    flex-direction:column;
    margin:20px auto 20px auto;
    width:700px;
    box-shadow:0px 0px 7px 0 black;
  }
  #preview-label{
    font-size:20px;
    padding:5px 5px;
    margin:0px -1px 0px -1px;
    border:0.05rem solid black;
    background-color:rgb(140, 170, 230);
    box-shadow:100px black;
  }
  #preview{
    margin:0;
    padding:5px;
    background-color:rgb(220, 243, 251);
  }
  code {
    display:block;
    background-color: white;
    font-size: 0.875rem;
    font-weight: bold;
  }
  p > code{
    display:inline-block;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td,
  th {
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }